.player-name,
.score {
  color: #fff;
  text-align: center;
  font-weight: 700;
}

.battle-component{
  display: flex;
  justify-content: space-around;
  align-items: center;

  .player-info{
    &:first-child{ order: 1 }
    .box-battle{ order: 2 }
    &:last-child{ order: 3 }
  }
}

.score {
  font-size: 24px;
}

.player-name{
  margin-bottom: 25px;
}

.superhero-info {
  min-width: 300px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  margin-bottom: 30px;
  animation: hitted 3s infinite;
  animation: attacking 3s infinite;

  .header-card {
    background-color: rgba(red, 0.5);
    position: relative;

    .life-hero {
      position: absolute;
      height: 100%;
      background-color: rgba(green, 0.8);
      // z-index: 1;
    }

    .hero-name {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      text-transform: uppercase;
      color: #333;
      border-radius: 4px 4px 0 0;

      .attack,
      .defense {
        span {
          font-size: 14px;
          font-weight: 700;
          margin-left: 5px;
        }
      }

      img {
        width: 20px;
      }

      .name {
        font-size: 18px;
        margin-bottom: 0;
      }
    }
  }

  .attributes {
    color: #fff;
    background-color: rgba(#000, 0.5);
    border-radius: 0 100px 0 0;
    padding: 10px;
    padding-bottom: 0;
    margin-top: 200px;

    .line {
      display: flex;

      small {
        width: 90px;
        font-weight: 700;
      }

      .progress {
        background-color: rgba(#9dbebb, 0.5);
        flex-grow: 1;

        .progress-bar {
          background-color: #5cc7b2;
        }
      }
    }
  }

  .progress {
    margin-bottom: 10px;
  }
}

@keyframes hitted {
  0% { box-shadow: 0 0 0 0 rgba(red, 1);}
  70% { box-shadow: 0 0 0 25px rgba(red, 0);}
  100% { box-shadow: 0 0 0 0 rgba(red, 0);}
}

@keyframes attacking {
  0% { box-shadow: 0 0 0 0 rgba(green, 1);}
  70% { box-shadow: 0 0 0 25px rgba(green, 0);}
  100% { box-shadow: 0 0 0 0 rgba(green, 0);}
}
