<div class="box-battle">
  <h3>Battle started</h3>
  <p class="statements">NO SUPPORT attack from Darth Vader</p>
  <p class="statements">NO SUPPORT defense from Kylo Ren</p>
  <p class="statements">support attack (increaseAttack - 50%) from Kylo Ren</p>
  <p class="statements">support defense (increaseDefense - 50%) from Darth Vader</p>
  <p class="statements">attack damage from Darth Vader <b>248</b></p>
  <p class="statements">life left from Kylo Ren <b>751</b></p>
  <p class="statements">attack damage from Kylo Ren <b>214</b></p>
  <p class="statements">life left from Darth Vader <b>941</b></p>
</div>

<app-button-action></app-button-action>
