.box-battle{
  background: rgba(#333, 0.5);
  color: #fff;
  padding: 15px;
  text-align: center;

  h3{
    margin-bottom: 20px;
  }

  .statements{
    margin: 0;
    font-size: 14px;
    font-style: italic;
  }
}
